body{
    padding: 10px;
}

.principal{
    width: 100%;
    margin: 0;
    padding: 0;
}

.principal img{
    width: 50%;
    
}

.titulo{
    border-bottom: solid;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.seccion{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}

.elemento{
    display: flex;
    padding: 10px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.boton{
    padding: 10px;
}

.tabla{    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;    
}

.listaTarea{
    border: solid;
    margin: 0 auto;
    width: 300px;
}

.encabezadoTabla{
    border: solid;
    padding: 10px;
}
